<style>
#example1 {
    width: 150px;
    float: left;
}


#example2 {
    width: 150px;
    margin-left: 175px;
}
</style>

<link href="css/jqueryUI/jquery-ui.min.css" rel="stylesheet">

<div id="example3">
    <ul>
        <li id="data-1" >Item 1
            <ul>
                <li id="data-1.1" >Item 1 1</li>
                <li id="data-1.2" >Item 1 2</li>
                <li id="data-1.3" >Item 1 3</li>
            </ul>
        </li>
        <li id="data-2" ><a href="www.google.com">Item 2</a><ul></ul></li>
        <li id="data-3" >Item 3<ul></ul></li>
        <li id="data-4" >Item 4<ul></ul></li>
    </ul>
</div>
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.serialize-list.js"></script>

<script>
	$("#example3 ul").sortable({
		placeholder: "ui-state-highlight",
		update: function (event, ui) {
			$(this).sortable('refresh');
			var data = $(this).serializelist();
			console.log(data);
		}
	});
	
</script>
